/*General styling:*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


:root{
    --ff-primary: 'Bebas Neue', sans-serif;
    --ff-accent: 'Teko', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
}
header{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 100vh;
    margin: 1rem;
}
h1{
    font-size: 5rem;
    margin: 1rem 0 1rem 0;

}
h3{
    margin: 0.5rem;
}


.soft {
    border-radius: 1.5rem;
    box-shadow: -0.13rem -0.13rem 0.4rem 0 rgba(255,255, 255, 0.3),
                -0.13rem -0.13rem 0.6rem 0 rgba(0, 0, 0, 0.9);

}


/*Styling for "scroll down" icon:*/
#scroll-down-animation {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 2rem;
}
#scroll-down-animation h2 {
    color: #fff;
    font-family: var(--ff-accent);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    margin: 1.2rem;
}
.mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 5.5rem;
    width: 3.125rem;
    position: relative;
}
.move {
    position: absolute;
    background-color: #fff;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}
@keyframes move {
    0% {
        transform: translate(-50%,0.625rem);
        opacity: 0;
    }
    50% {
        transform: translate(-50%,2.5rem);
        opacity: 1;
    }
    100% {
        transform: translate(-50%,5rem);
        opacity: 0;
    }
}

/*styling for sections/scroll into view effect*/
section, footer{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

/*transitions for scroll animation effects*/
.hidden{
    opacity: 0;
    filter: blur(2rem);
    transform: translateX(-100%);
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.about p{
    margin: 2rem 0 2rem 0;
}



.skills ul{
    margin: 1rem;
    padding: 0;
}


.skills ul li {
    list-style: none;
    border-radius: 1.5rem;
    box-shadow: -0.13rem -0.13rem 0.4rem 0 rgba(255,255, 255, 0.3),
    -0.13rem -0.13rem 0.6rem 0 rgba(0, 0, 0, 0.9);
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.8rem;
    letter-spacing: 0.1rem;
}

.skills ul li:hover {
    color: #C8FCEA;
    /*border: 0.1rem solid #C8FCEA;*/
}

.projects{
    margin: 1.5rem;
}

/*project card styling*/
.projects p{
    font-size: 1.25rem;
    font-family: var(--ff-accent);
}

.projects:nth-child(2){
    transition-delay: 200ms;
}

.projects:nth-child(3){
    transition-delay: 400ms;
}



/*styling for connect footer section*/


footer h1{
    margin:0.3rem;
}

.icon{
    margin:1rem;

}
.connect-icons {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: var(--ff-accent);
    font-size: 2.5rem;

}
.connect-icons i{
    color: white;
    margin: 1rem;

}
i:hover{
    color: #C8FCEA;
}

.icon:nth-child(2){
    transition-delay: 200ms;
}

.icon:nth-child(3){
    transition-delay: 400ms;
}

.icon:nth-child(4){
    transition-delay: 600ms;
}
